<section class="section-benefits">
  <div class="container">
    <h2 class="section-benefits-title">
      <span class="section-benefits-title-part">Benefits</span> of working with
      me
    </h2>
    <ul class="section-benefits-list">
      <li class="section-benefits-item">
        <div class="icon-section-benefits">
          <svg class="icon icon-expertise" width="48" height="48">
            <use href="./img/icon.svg#icon-expertise"></use>
          </svg>
        </div>
        <h3 class="section-benefits-subtitle">EXPERTISE</h3>
        <p class="section-benefits-text">
          With extensive experience in development, I have a deep understanding
          of programming and website development.
        </p>
      </li>
      <li class="section-benefits-item">
        <div class="icon-section-benefits">
          <svg class="icon icon-communication" width="48" height="48">
            <use href="./img/icon.svg#icon-communication"></use>
          </svg>
        </div>
        <h3 class="section-benefits-subtitle">COMMUNICATION</h3>
        <p class="section-benefits-text">
          Understanding your needs and wants is my priority and I am always
          available for discussions and open to corrections.
        </p>
      </li>
      <li class="section-benefits-item">
        <div class="icon-section-benefits">
          <svg class="icon icon-art" width="48" height="48">
            <use href="./img/icon.svg#icon-art"></use>
          </svg>
        </div>
        <h3 class="section-benefits-subtitle">ART</h3>
        <p class="section-benefits-text">
          Thanks to my creative natura, I am ready to accept challenges and help
          you bring you ideas to life .
        </p>
      </li>
      <li class="section-benefits-item">
        <div class="icon-section-benefits">
          <svg class="icon icon-urgent" width="48" height="48">
            <use href="./img/icon.svg#icon-urgent"></use>
          </svg>
        </div>
        <h3 class="section-benefits-subtitle">URGENT EXECUTION</h3>
        <p class="section-benefits-text">
          I understand how important time is to you. Ready to work quickly and
          efficiently, without reducing the quality of work.
        </p>
      </li>
    </ul>
  </div>
</section>
