<footer class="section-footer">
  <div class="container footer-container">
    <a class="footer-logo" href="./index.html"
      >Lloyd<span class="footer-logo-part">Jefferson.</span></a
    >
    <div class="footer-title">
      <ul class="footer-list">
        <li class="social-media">
          <a
            class="social-media-link"
            target="_blank"
            href="https://www.instagram.com/goitclub/"
            >Instagram</a
          >
        </li>
        <li class="social-media">
          <a
            class="social-media-link"
            target="_blank"
            href="https://www.facebook.com/goITclub/"
            >Facebook</a
          >
        </li>
        <li class="social-media">
          <a
            class="social-media-link"
            target="_blank"
            href="https://www.linkedin.com/school/goit-start-your-career-in-it/posts/?feedView=all"
            >Linkedin</a
          >
        </li>
        <li class="social-media">
          <a
            class="social-media-link"
            target="_blank"
            href="https://github.com/Kholodaet/project-profile2-0"
            >GitHub</a
          >
        </li>
      </ul>
      <div class="centered-text">
        <p>© Copyright 2024.</p>
        <p>Made by LloydJefferson</p>
      </div>
    </div>
  </div>
</footer>
<button id="scrl" type="button" class="scroll-btn">
  <svg class="scroll-btn-icon">
    <use href="./img/symbol-defs.svg#icon-dropup"></use>
  </svg>
</button>
