<header class="section-header">
  <div class="container-header">
    <nav class="nav-header">
      <a href="./index.html" class="logo-first-name link"
        >LLOYD<span class="logo-second-name">JEFFERSON.</span></a
      >
      <input type="checkbox" id="themeSwitch" class="theme-checkbox" />
      <button
        type="button"
        class="mobile-menu-open js-open-menu"
        aria-label="mobile-open-button"
      >
        <svg class="burger-menu-icon" width="32" height="32">
          <use href="./img/symbol-defs.svg#icon-burger-menu"></use>
        </svg>
      </button>
      <ul class="menu">
        <li class="menu-list">
          <a href="#about-me" class="menu-link link">About me</a>
        </li>
        <li class="menu-list">
          <a href="#my-projects" class="menu-link link">Projects</a>
        </li>
        <li class="menu-list">
          <a href="#work" class="menu-link link">Contacts</a>
        </li>
      </ul>
    </nav>
  </div>

  <div class="mobile-menu js-menu">
    <div class="mobile-container container">
      <a href="./index.html" class="logo-first link"
        >LLOYD<span class="logo-second">JEFFERSON.</span></a
      >
      <button
        class="mobile-close-btn js-close-menu"
        aria-label="mobile-close-button"
      >
        <svg class="btn-close-icon" width="32" height="32">
          <use href="./img/icon.svg#icon-close"></use>
        </svg>
      </button>
    </div>
    <div class="container-menu-mobile-list back-img container">
      <ul class="mobile-list">
        <li class="mobile-item">
          <a href="#about-me" class="mobile-link">About me</a>
        </li>
        <li class="mobile-item">
          <a href="#my-projects" class="mobile-link">Projects</a>
        </li>
        <li class="mobile-item">
          <a href="#work" class="mobile-link">Contacts</a>
        </li>
      </ul>
    </div>
  </div>
</header>
