<section>
  <div class="container">
    <div class="section-title">
      <h1 class="page-title">
        Hello, I am
        <img
          class="photo-display"
          srcset="./img/hero/img.png 1x, ./img/hero/img2x.png 2x"
          src="./img/hero/img.png"
          width="108"
          height="108"
          alt="Photo"
        />
      </h1>
      <h2 class="page-subtitle">Fullstack developer</h2>

      <div class="page-btn-text">
        <div class="page-button">
          <a class="page-btn-link" href="#work">
            <svg class="btn-icon" width="30" height="16">
              <use href="./img/symbol-defs.svg#icon-Arrow-1"></use>
            </svg>
            Order the project</a
          >
          <div class="btn-link"></div>
        </div>
        <p class="page-text">
          I work with people all over the world to create
          <span class="page-name">impressive</span> and
          <span class="page-name">functional websites</span> that reflect each
          client's unique personality.
        </p>
      </div>
    </div>
  </div>
  <div class="page-item-link">
    <ul class="page-item">
      <li>
        <a
          class="page-link"
          target="_blank"
          href="https://www.instagram.com/goitclub/"
          >Instagram</a
        >
      </li>
      <li>
        <a
          class="page-link"
          target="_blank"
          href="https://www.youtube.com/c/GoIT"
          >YouTube</a
        >
      </li>
      <li>
        <a
          class="page-link"
          target="_blank"
          href=" https://www.facebook.com/goITclub/"
          >Facebook</a
        >
      </li>
      <li>
        <a
          class="page-link"
          target="_blank"
          href="kholodaet.github.io/project-profile2-0/"
          >GitHub</a
        >
      </li>
    </ul>
  </div>
</section>
