<section class="section-projects" id="my-projects">
  <div class="container">
    <div class="text-div-projects">
      <h2 class="text-projects">
        MY<span class="span-projects"> PROJECTS</span>
      </h2>
    </div>
    <ul class="ul-projects">
      <li class="li-projects list" data-index="0">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/wallet.webp    1x,
              ./img/img-project/wallet-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/wallet.webp"
            alt="wallet"
            width="320"
            height="194"
            class="img-portfolio"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/wallet.webp    1x,
              ./img/img-project/wallet-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/wallet.webp"
            alt="wallet"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/wallet.webp    1x,
              ./img/img-project/wallet-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/wallet.webp"
            alt="wallet"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">WALLET WEBSERVICE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-projects list" data-index="1">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/harvest.webp    1x,
              ./img/img-project/harvest-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/harvest.webp"
            alt="harvest"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/harvest.webp    1x,
              ./img/img-project/harvest-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/harvest.webp"
            alt="harvest"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/harvest.webp    1x,
              ./img/img-project/harvest-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/harvest.webp"
            alt="harvest"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">GREEN HARVEST WEBSERVICE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
      <li class="li-projects list" data-index="2">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/english.webp    1x,
              ./img/img-project/english-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/english.webp"
            alt="english"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/english.webp    1x,
              ./img/img-project/english-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/english.webp"
            alt="english"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/english.webp    1x,
              ./img/img-project/english-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/english.webp"
            alt="english"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">English Exellence website</h3>
          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="3">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/mimino.webp    1x,
              ./img/img-project/mimino-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/mimino.webp"
            alt="mimino"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/mimino.webp    1x,
              ./img/img-project/mimino-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/mimino.webp"
            alt="mimino"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/mimino.webp    1x,
              ./img/img-project/mimino-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/mimino.webp"
            alt="mimino"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">MIMINO WEBSITE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="4">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/power.webp    1x,
              ./img/img-project/power-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/power.webp"
            alt="power"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/power.webp    1x,
              ./img/img-project/power-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/power.webp"
            alt="power"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/power.webp    1x,
              ./img/img-project/power-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/power.webp"
            alt="power"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">POWER PULSE WEBSERVICE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="5">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/chego.webp    1x,
              ./img/img-project/chego-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/chego.webp"
            alt="chego"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/chego.webp    1x,
              ./img/img-project/chego-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/chego.webp"
            alt="chego"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/chego.webp    1x,
              ./img/img-project/chego-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/chego.webp"
            alt="chego"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">CHEGO JEWELRY WEBSITE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="6">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/energy.webp    1x,
              ./img/img-project/energy-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/energy.webp"
            alt="energy"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/energy.webp    1x,
              ./img/img-project/energy-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/energy.webp"
            alt="energy"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/energy.webp    1x,
              ./img/img-project/energy-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/energy.webp"
            alt="energy"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">ENERGY FLOW WEBSERVICE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="7">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/fruitbox.webp    1x,
              ./img/img-project/fruitbox-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/fruitbox.webp"
            alt="fruitbox"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/fruitbox.webp    1x,
              ./img/img-project/fruitbox-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/fruitbox.webp"
            alt="fruitbox"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/fruitbox.webp    1x,
              ./img/img-project/fruitbox-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/fruitbox.webp"
            alt="fruitbox"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">FRUITBOX ONLINE STORE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="8">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/vibes.webp    1x,
              ./img/img-project/vibes-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/vibes.webp"
            alt="vibes"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/vibes.webp    1x,
              ./img/img-project/vibes-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/vibes.webp"
            alt="vibes"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/vibes.webp    1x,
              ./img/img-project/vibes-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/vibes.webp"
            alt="vibes"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">VYSHYVANKA VIBES LANDING PAGE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>

      <li class="li-projects list" data-index="9">
        <picture class="mob-img">
          <source
            srcset="
              ./img/img-project/starlight.webp    1x,
              ./img/img-project/starlight-2x.webp 2x
            "
            media="(min-width: 360px)"
          />
          <img
            src="./img/img-project/starlight.webp"
            alt="starlight"
            width="320"
            height="194"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="tablet-img">
          <source
            srcset="
              ./img/img-project/starlight.webp    1x,
              ./img/img-project/starlight-2x.webp 2x
            "
            media="(min-width: 768px)"
          />
          <img
            src="./img/img-project/starlight.webp"
            alt="starlight"
            width="704"
            height="404"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <picture class="decstop-img">
          <source
            srcset="
              ./img/img-project/starlight.webp    1x,
              ./img/img-project/starlight-2x.webp 2x
            "
            media="(min-width: 1280px)"
          />
          <img
            src="./img/img-project/starlight.webp"
            alt="starlight"
            width="1008"
            height="578"
            class="img-portfolio"
            loading="lazy"
          />
        </picture>
        <p class="technology-info">React, JavaScript, Node JS, Git</p>
        <div class="link-info">
          <h3 class="portfolio-title">STARLIGHT STUDIO LANDING PAGE</h3>

          <a
            href="https://github.com/Kholodaet/project-profile2-0"
            class="link-projects link"
            target="_blank"
            >VISIT
            <svg class="svg-visit-arrow" width="18" height="18">
              <use href="./img/symbol-defs.svg#icon-visit-arrow"></use>
            </svg>
          </a>
        </div>
      </li>
    </ul>
    <div class="load-more-div">
      <button type="button" class="load-more">LOAD MORE</button>
    </div>
  </div>
</section>
