<section class="reviews-section" id="reviews">
  <div class="reviews-container">
    <h2 class="reviews-title">Reviews</h2>

    <div class="swiper" id="swiper3">
      <ul class="swiper-wrapper reviews-wrapper" id="review-swiper-list"></ul>
      <!-- `<li class="review-card swiper-slide" id="${_id}">
                <p class="review-card-text">${review}</p>
                <div class="review-card-author">
                    <img class="review-card-author-avata" src="${avatar_url}" alt="${author}" alt="review author photo" width="40"
                        height="40" loading="lazy">
                    <p class="review-card-author-name">${author}</p>
                </div>
            </li>` -->

      <div class="slider-buttons">
        <div class="btn-prev-review-wrapper btn-custom-prev custom-button-prev">
          <svg class="reviews-arrow" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
        <div class="btn-next-review-wrapper btn-custom-next custom-button-next">
          <svg class="reviews-arrow" width="24" height="24">
            <use href="./img/symbol-defs.svg#icon-arrow-right"></use>
          </svg>
        </div>
      </div>
    </div>
  </div>
</section>
