<section class="tech-skills">
  <div class="marquee-another">
    <div class="marquee-inner">
      <p class="marquee-line">
        <span class="green-dot">&#183;</span> HTML/CSS
        <span class="green-dot">&#183;</span> JavaScript
        <span class="green-dot">&#183;</span> React
        <span class="green-dot">&#183;</span> Node.js
        <span class="green-dot">&#183;</span> React Native
        <span class="green-dot">&#183;</span> Type Script
      </p>
      <p class="marquee-line">
        <span class="green-dot">&#183;</span> HTML/CSS
        <span class="green-dot">&#183;</span> JavaScript
        <span class="green-dot">&#183;</span> React
        <span class="green-dot">&#183;</span> Node.js
        <span class="green-dot">&#183;</span> React Native
        <span class="green-dot">&#183;</span> Type Script
      </p>
    </div>
  </div>
  <div class="marquee">
    <div class="marquee-inner-h">
      <p class="marquee-line-green">
        <span class="dot">&#183;</span> JavaScript
        <span class="dot">&#183;</span> React
        <span class="dot">&#183;</span> Node.js
        <span class="dot">&#183;</span> React Native
        <span class="dot">&#183;</span> Type Script
        <span class="dot">&#183;</span> HTML/CSS
      </p>
      <p class="marquee-line-green">
        <span class="dot">&#183;</span> JavaScript
        <span class="dot">&#183;</span> React
        <span class="dot">&#183;</span> Node.js
        <span class="dot">&#183;</span> React Native
        <span class="dot">&#183;</span> Type Script
        <span class="dot">&#183;</span> HTML/CSS
      </p>
    </div>
  </div>
</section>
